image: node:20

pipelines:
  branches:
    develop:
      - step:
          name: Install & Test
          caches:
            - node
            - yarn
          script:
            - node -v
            - yarn -v
            - yarn install --frozen-lockfile
            - CI=true yarn test
      - step:
          name: Build (staging)
          deployment: staging
          caches:
            - node
            - yarn
          script:
            - echo "SERVER_HOST=$SERVER_HOST"
            - yarn build

    master:
      - step:
          name: Install & Test
          caches:
            - node
            - yarn
          script:
            - yarn install --frozen-lockfile
            - CI=true yarn test
      - step:
          name: Build (production)
          deployment: production
          caches:
            - node
            - yarn
          script:
            - echo "SERVER_HOST=$SERVER_HOST"
            - yarn build
