image: node:20

pipelines:
  branches:
    develop:
      - step:
          name: Install & Test
          caches:
            - node
          script:
            - yarn install
            - yarn test
      - step:
          name: Build
          caches:
            - node
          script:
            - yarn build

    master:
      - step:
          name: Install & Test
          caches:
            - node
          script:
            - yarn install
            - yarn test
      - step:
          name: Build
          caches:
            - node
          script:
            - yarn build
