image: node:20

pipelines:
  branches:
    develop:
      - step:
          name: Install & Test
          caches:
            - node
          script:
            - yarn install
            - yarn test
      - step:
          name: Build
          deployment: staging
          caches:
            - node
          script:
            - echo "SERVER_HOST=$SERVER_HOST"
            - yarn build

    master:
      - step:
          name: Install & Test
          caches:
            - node
          script:
            - yarn install
            - yarn test
      - step:
          name: Build
          deployment: production
          caches:
            - node
          script:
            - yarn build
