image: node:20

pipelines:
  default:
    - step:
        name: Test
        caches:
          - node
        script:
          - echo "Running CI on develop"
          - yarn install
          - yarn test
    - step:
        name: Building Next.js app
        caches:
          - node
        script:
          - echo "Building App"
          - yarn build

  branches:
    develop:
      - step:
          name: "Deploy to Staging"
          deployment: staging
          script:
            - mkdir -p ~/.ssh
            - echo "$KNOWN_HOSTS"