image: node:20

pipelines:
  default:
    - step:
        name: Test
        script:
          - echo "Running CI on develop"
          - yarn install
          - yarn test
    - step:
        name: Build app
        script:
          - echo "Building App"
          - yarn build
